.wrapper {
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 5px;
}

.imagePlaceholder {
  width: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size: contain;
  padding-bottom: 72.73%;
}

.image {
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.author {
  color: #a0a0a0;
  font-size: 12px;
  font-weight: 600;
  padding-top: 5px;
  text-align: center;
}
